<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - Instagram Account Analyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <div class="nav-container">
      <a href="{{ url_for('home') }}"><h1>Instagram Account Analyzer</h1></a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('compare') }}">Compare Accounts</a>
        <a href="{{ url_for('report') }}">Report Account</a>
        <form action="{{ url_for('logout') }}" method="POST">
          <button type="submit">Log out</button>
        </form>
      {% else %}
        <a href="{{ url_for('login') }}">Log in</a>
        <a href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </div>
  </nav>

  <main>
    <div class="main-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="flash-message {{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </div>
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
